.row {
    display: grid;
    grid-auto-flow: row;
}

.label {
    font-weight: 600;
    font-size: 18px;
    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

.border {
    padding: 20px 24px;
    margin-top: 14px;
    border: solid 1px;
    display: grid;
    // grid-template-columns: 1fr auto;
    grid-auto-flow: column;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
}

.normal{
    color: #a5a5a5;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    text-align: left;

}
.test{
    border: solid;
    padding: 5px;
    background-color: blanchedalmond;

}

.icon{
    border: none;
    background-color: transparent;
}

.bottom {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}


.error {
    color: #FF3B30;
    grid-column: 1/2;
    box-shadow: 0px 4px 4px rgba(255, 59, 48, 0.08);
}

.condition {
    color: #FF3B30;
    margin-top: 18px;
    font-size: 14px;
    font-weight: 400;
    grid-column: 1/2;
}

.help {
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    color: #2D3B5999;
    justify-self: flex-end;
    grid-column: 2/3;
    margin-top: 18px;
}

.touched{
    color: #536DFB;
    box-shadow: 0px 4px 10px rgba(83, 109, 251, 0.15);
}