$themes:(
    light:(
        backgroundColor: #1E1C37,
        mainBackground: #1a1833,
        burgerBackground: #25233D,
        burgerMenuLine: rgb(39, 70, 115),
        color: #F0F2F4,
        loginBtn: transparent,
        toggleBtn: #FFFFFF,
        tableBackground: #25233D,
        tableBorder: 5px solid #2D3B59,
        dropBorder: 1px solid #2D3B59,
        tableLine: #274673CC,
        tableHeaders: #FFFFFF,
        pagination: #FFFFFF,
        homeBtn: #F0F2F4,
        homeBtnColor: #2D3B59,
        formBtn: #1E1C37E5,
        linksHoverColor:#2E2B4D,
        linksBackground: #25233D,
        trHover: #ECF0F9BF,
        
    ),
    dark:(
        backgroundColor: #274673,
        mainBackground: #ecf0f9,
        burgerBackground: #FFFFFF,
        burgerMenuLine: rgb(217, 223, 248),
        color: #2D3B59,
        loginBtn: #FFFFFF,
        toggleBtn: #274673,
        tableBackground: #FFFFFF,
        tableBorder: 5px solid #D9DFF8,
        dropBorder: 1px solid #D9DFF8,
        tableLine: #D9DFF8,
        tableHeaders: #536DFB,
        pagination: #536DFB,
        homeBtn: #274673,
        homeBtnColor: #F0F2F4,
        formBtn: #274673E5,
        linksHoverColor:#ECF0F9,
        linksBackground: #ffffff,
        trHover: #2E2B4D,
    )
)

