$c-grey: #F0F2F4;
$c-dark-blue: #274673;
$c-dark-violet: #1E1C37;
$f-family: 'Montserrat', sans-serif;
$c-blue:#536DFB;


$c-light: $c-grey;
$c-head-foot-l: $c-dark-blue;
$c-head-foot-d: $c-dark-violet;


//dark theme 
$c-background-dark:#1E1C37;
$c-color-dark:#536DFB;
