.main {
  padding: 50px 32px; 
  transition: background 0.2s linear;
  background-image: url(../../imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width:768px) {
    padding: 50px 15px;
  }
}

.toggle {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  &__btn {
    width: 28px;
    height: 29px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #F0F2F4;
    cursor: pointer;
  }
}