@import '../../styles/variable.scss';

.logo {
  color: $c-light;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.005em;
  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}