@import '../../styles/variable.scss';

.header {
  padding: 20px 30px;
  background-color: $c-head-foot-l;
  // display: grid;
  // grid-template-columns: 72px 1fr;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $c-light;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  // gap: 20px;

  // @media screen and (max-width: 1200px) {
    // grid-column-gap: 104px;
  // }

  &__nav {
    margin-left: auto;
  }
}