@import '../../styles/variable.scss';

.header {
  transition: background 0.2s linear;
  padding: 20px 30px;
  // background-color: $c-head-foot-l;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $c-light;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;

  &__nav {
    margin-left: auto;
  }

  &__btn {
    @media screen and (min-width: 1200px) {
    margin-left: 116px;
    }
  }
}