@import '../../styles/variable.scss';

.header {
  transition: background 0.2s linear;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $c-light;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;

  &__nav {
    margin-left: auto;
    margin-right: 116.5px;
    @media screen and (max-width: 1200px) {
      margin-right: 29px;
    }
    @media screen and (max-width: 768px) {
      margin-right: 0;
    }
    @media screen and (max-width: 768px) {
      margin-right: 0;
    }
  }
}