.icon {
    width: 100%;
    border: none;
    outline: none;
    padding-top: 3px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    background-color: transparent;
    height: 24px;
    letter-spacing: 0em;
    text-align: left;
}