@import '../../styles/variable.scss';
@import '../../styles/mixins.scss';

.btn {
  width: 130px;
  height: 42px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 18px;
  color: $c-head-foot-l;
  background: #ffffff;
  @include mq-tablet {
    display: none;
  }
  &:hover{
    cursor: pointer;
  }
}