@import '../../styles/variable.scss';

.btn {
  width: 130px;
  height: 42px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #F0F2F4;
  
  @media screen and (max-width: 768px) {
    display: none;
  }
}