
.checkbox__input{
    display: none;
}

input[type='checkbox'] {
    + label{
        display: block;
        &::before{
            display: block;
            width: 24px;
            height: 24px;
            content: '\2714';
            content: url('./../../imgs/coolicon.svg');
            border: 1px solid #2D3B59;
            border-radius: 3px;
        }
        
    }
} 

input[type='checkbox']:checked {
    + label{
        display: block;
        &::before{
            background-color: #1E1C37;
            border: 1px solid #fff;
            box-shadow: 0px 2px 4px rgba(83, 109, 251, 0.18);
        }        
    }
} 