@import '../../styles/variable.scss';
@import '../../styles/mixins.scss';

.footer {
  width: 100%;
  height: 190px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: $c-head-foot-l;
  color: #fff;
  @include mq-tablet {
    height: 130px;
  }

  &__links {
    width: 169px;
    height: 83px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mq-tablet {
      display: none;
    }
  }
  &__item {
    color: $c-light;
  }
}