@import '../../styles/variable.scss';

.footer {
  width: 100%;
  height: 190px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: $c-head-foot-l;
  color: #fff;
  @media screen and (max-width: 1200px) {
    height: 259px;
  }
  @media screen and (max-width: 768px) {
    height: 130px;
  }

  &__links {
    width: 270px;
    height: 115px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__item {
    color: $c-light;
    font-size: 14px;
    font-weight: 500;
  }

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__rights {
    font-size: 14px;
    font-weight: 500;
  }
}