@import './../../styles/index.scss';

.table {
  text-align: start;
  width: 100%;

  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #D9DFF8;
    border-radius: 15px;
  }

  @media screen and (max-width:400px) {
    padding: 0px 7px;
  }
}

.head {
  &__tr {
    height: 45px;
    color: currentColor;
  }

  &__th {
    color: currentColor;
  }

  &__container {
    display: flex;
    align-items: center;
    height: 36px;
    width:max-content;
    padding: 0;
    color: currentColor;
  }

  &__headers {
    vertical-align: text-top;
    white-space: nowrap;
    padding: 13px 15px 0 0;
    text-align: start;
    max-width: 160px;
    color: currentColor;
  }

  &__header {
    color: currentColor;
  }
}

.body {
  &__row {
    height: 63px;
    color: currentColor;
    &:hover {
      background-color: rgba(255,255,255,.6);
      backdrop-filter: blur(5px);
    }
  }

  &__td {
    white-space: nowrap;
    padding: 0 35px 0 0;
    color: currentColor;
    &:last-child {
      padding: 5px 0;
    }
  }
}

.active {
 cursor: pointer;
}

.up {
  border: 7px solid transparent; border-top: 7px solid currentColor;
  transform: translate(10px, 3px);
  cursor: pointer;
  color: currentColor;
}

.down {
  border: 7px solid transparent; border-bottom: 7px solid currentColor;
  transform: translate(10px, -3px);
  cursor: pointer;
  color: currentColor;
}

// .hovered {
//   background-color: #ECF0F9BF;
// }