.title {
    margin-bottom: 60px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;

}
.list{
    background-color: white;
    border-radius: 30px;
    padding: 25px;
    border: 5px solid #D9DFF8;
}

.pagination{
    justify-self: flex-end;
  }