@import './../../styles/index.scss';
.container {
  margin-bottom: 80px;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 15px;
  color: currentColor;

  @include media(678px) {
    margin-bottom: 40px;  
  }
}

.link {
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  color: currentColor;
  &:first-letter{
    text-transform: uppercase;
  }
}

.arrow  {
  display: block;
  line-height: 24px;
  font-weight: 500;
  color: currentColor;
}

.current{
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: currentColor;
  &:first-letter  {
    text-transform: uppercase;
  }
}