@import './../../styles/index.scss';
.pagination {
  padding: 3px;
  height: 53px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 48px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  align-items: flex-end;
  justify-content: flex-end;
  @include theme-aware('color','color');

  @media screen and (max-width:992px) {
  justify-content: space-between;
  width: 100%;
  }

  @media screen and (max-width:768px) {
    column-gap: 5px;
  }

    &__handler,
    &__pages {
      color: currentColor;
    }

    &__arrow
     {
      color: currentColor;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        display: block;
        border: 7px solid transparent;
        border-top: 7px solid;
        transform: translateY(40%);
        left: 25px;
        top: 0;
        z-index: 2;
        pointer-events: none;
      }
    }

    &__select {
      -moz-appearance: none;
      /* Firefox */
      -webkit-appearance: none;
      /* Safari and Chrome */
      appearance: none;
      background-color: transparent;
      border: none;
      outline: none;
      padding-right: 20px;
      margin-left: 6px;
      z-index: 0;
      cursor: pointer;
      color: currentColor;
    }

    &__offset {
      display: grid;
      grid-auto-flow: column;
      column-gap: 8px;
      color: currentColor;
    }

    &__button {
      height: 18px;
      background-color: transparent;
      border: none;
      outline: none;
      color: currentColor;
    }
  }