@import '../../styles/variable.scss';

.nav { 


  &__list {
    display: grid;
    grid-auto-flow: column;
    grid-gap:10px;
    width: 100%;
    @media screen and (max-width: 768px) {
      grid-auto-flow: row;
 
    }
  }

  &__link {
    color: $c-light;
  }
}