@import '../../styles/variable.scss';

.nav { 
  &__list {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 56px;
    row-gap: 20px;
    width: 100%;
    @media screen and (max-width: 768px) {
      grid-auto-flow: row;
    }
  }

  &__link {
    color: $c-light;
    font-weight: 500;
    font-size: 18px;
  }
}