@import './../../styles/index.scss';

.container {
  display: grid;
  font-family: $f-family;
  color: currentColor;
}

.head {
  margin-bottom: 62px;
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  width: fit-content;
  justify-self: center;
  column-gap: 32px;
  text-align: center;
  color: currentColor;

  &__btn {
    background-color: transparent;
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
    padding: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    color: currentColor;
  }

  &__hgroup {
    color: currentColor;
  }

  &__title {
    width: fit-content;
    font-size: 32px;
    font-weight: 600;
    color: currentColor;
  }

  &__subtitle {
    color: currentColor;
    font-size: 18;
    font-weight: 400;
  }
}

.table {
  border-radius: 30px;
  padding: 48px 25px;
  display: grid;
  // add relative position for loader
  position: relative;
}

.item {
  color: inherit;
}