@import './../../styles/index.scss';

.container {
  display: grid;
  font-family: $f-family;
}

.head {
  margin-bottom: 62px;
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  width: fit-content;
  justify-self: center;
  column-gap: 32px;
  text-align: center;
}

.btn {
  background-color: transparent;
  font-size: 40px;
  font-weight: 700;
  line-height: 30px;
  padding: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

h2 {
  width: fit-content;
  font-size: 32px;
  line-height: 39, 01px;
}

.table {
  border-radius: 30px;
  background-color: #fff;
  padding: 48px 25px;
  display: grid;
  border: 5px solid #D9DFF8;
  // add relative position for loader
  position: relative;
}
