.block{
  padding: 48px 25px;
  border: solid;

 
  @media screen and(max-width: 678px) {
    padding: 15px;
  }

  table{

    display: grid;
    grid-template-columns: repeat(2, minmax(436px, 547px));
    justify-content: space-around;
  
    
    border: solid;
    @media screen and(max-width: 992px) {
      grid-template-columns: minmax(min-content, 547px);
      justify-content: start;
    }
    tbody{
      display: grid;
      row-gap: 8px;
      border: solid;
      
      tr{
        width: fit-content;
        display: grid;
        grid-template-columns: 180px 1fr;
        @media screen and(max-width: 768px) {
          grid-template-columns: minmax(min-content, 1fr);
        }
        word-break: break-all;
        *{
          border: solid 0.1px;
        }
      } 
    }
  }
}